<div class="appbar">
    <%= link_to image_tag('logo/logo-getit.png', :alt => "Logo Get-It", :class => "logoAppBar"), notes_path %>

    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>