<%= render 'appbar' %>

<div class="container_edit">
    <h1>Crie uma anotação!</h1>

    <%= render 'form' %>

    <%= link_to '<button class="buttonAction">Voltar</button>'.html_safe, notes_path %>
</div>
    